{% extends "base.html"%}
{% block content %}

<h2>Edit Member</h2>

<form action="/members/{{ member.id }}" method="POST"></form>
    <div>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ member.first_name }}">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ member.last_name }}">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="{{ member.age }}">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{ member.category }}">
        <input type="submit">
    </div>

{% endblock %}