{% extends "base.html" %}

{% block content %}


<div class="box">
    <h1>Members</h1>
    <table class="display-table">
        <tr class="table-header">
            <th>Name</th>
            <th>Age</th>
            <th>Category</th>
        </tr>
        {% for member in members %}
        <tr>
            <td><a href="/members/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a></td>
            <td>{{ member.age }}</td>
            <td>{{ member.category }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/members/new" class="sub-button">Add Member</a>
</div>

{% endblock %}