{% extends "base.html" %}
{% block content %}

  <section class="box">
    <div class="main-details">
      <h3>{{ member.first_name }} {{ member.last_name }}</h3>
      <p>{{ member.age }} years old</p>
      <p>{{ member.category }}</p>
      <p><a href="/members/{{ member.id }}/edit" class="sub-button">Edit</a><a href="/members/{{ member.id }}/delete" class="sub-button">Delete</a></p>
    </div>
    
    <h3>Sessions:</h3>
    <ul>
      {% for session in sessions  %}
      <li>{{session.name}}</li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}