{% extends "base.html"%}
{% block content %}

<h2>Add New Booking</h2>

<form action="/bookings" method="POST">
    <div>
        <label for="member">Member:</label>
        <select id="member" name="member">
          <option value="Strength">name</option>
          <option value="Bodybuilding">name</option>
          <option value="Cardio">name</option>
          </option>  
        </select>
    </div>
    
    <div>
        <label for="session">Session:</label>
        <select id="session" name="session">
          <option value="Strength">name</option>
          <option value="Bodybuilding">name</option>
          <option value="Cardio">name</option>
          </option>  
        </select>
    </div>
    
    <input type="submit">
</form>

{% endblock %}