.display-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    width: 80%;
    align-self: center;
    text-align: left;
    border: 1px solid #000;
}

.table-header {
    border: 1px solid #000;
}

.display-table th,
.display-table td {
    padding: 12px 15px;
}

.sub-button {
    background: #ff5029;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}