* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    background-color: rgb(255, 255, 255);
    color: white;
}

.menu-links {
    flex: 1;
    text-align: right;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

    .menu-links li {
        display: inline-block;
        padding: 5px 10px;
        position: relative;
    }

    .menu-links li a {
        transition: all 0.3s ease 0s;
        text-decoration: none;
    }

    .menu-links li a:hover {
        color: rgb(213, 16, 16);
}

/* Homepage */
.homepage {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
}

.options-title {
    background: #fa4040;
    border-radius: 10px;
}

.options {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.option-column {
    flex-basis: 31%;
    background: #b01616;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.option-column img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}



h1 {
    font-size: 62px;
    font-weight: 700;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}