{% extends "base.html" %}

{% block content %}

<section class="homepage">
    <article class="options-title">
        <h1>Gym's Best Friend</h1>
        <p>Gymsane is here to help you with all your daily admin needs. What can I do for you today?</p>
    </article>

    <div class="options">
        <div class="options-col">
            <a href="/members">
                <img src="../static/img/homepage_members.png" alt="Members" class="opt-img">
            </a>
            <br>
            <h3>Members</h3>
            <p>The members section has all the details of your members, and will allow you to add or update.</p>
        </div>
        <div class="options-col">
            <a href="/sessions">
                <img src="../static/img/homepage_sessions.png" alt="Sessions" class="opt-img">
            </a>
            <br>
            <section>
                <h3>Sessions</h3>
                <p>The sessions section has all the details of your sessions, and will allow you to add or update.</p>
            </section>
        </div>
        <div class="options-col">
            <a href="/bookings">
                <img src="../static/img/homepage_bookings.png" alt="Bookings" class="opt-img">
            </a>
            <br>
            <h3>Bookings</h3>
            <p>The bookings section allows you to see all the sessions and who is attending them.</p>
        </div>
    </div>
</section>



{% endblock %}