{% extends "base.html" %}

{% block content %}

<section class="homepage">
    <article class="options-title">
        <h1>Gym's Best Friend</h1>
        <p>Gymsane is here to help you with all your daily admin needs. What can I do for you today?</p>
    </article>
    <article class="options">
        <div class="option-columm">
            <h3>Members</h3>
            <p>The members section has all the details of your members, and will allow you to add or update.</p>
        </div>
        <div class="option-columm">
            <h3>Sessions</h3>
            <p>The sessions section has all the details of your sessions, and will allow you to add or update.</p>
        </div>
        <div class="option-columm">
            <h3>Attendances</h3>
            <p>The attendances section allows you to see all the sessions and who is attending them.</p>
        </div>
    </article>
</section>



{% endblock %}